html {
  box-sizing: border-box
}

*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
     in most browser configurations this will be 10px */
:root {
  /* most users will have a default font size of 16px */
  /* this scales that font size to 10px to make it easier for us to work with */
  /* 20px * 62.5% = 12.5 px */
  font-size: 62.5%
}

body {
  background-color: white;
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}


#container {
  display: grid;
  width: 700px;
  text-align: left;
  border: .5px solid gray;
  padding: 2%;
}

#options-btns {
  display: grid;
}

.opt-btn {
  padding: 15px;
  width: 490px;
  border: .5px solid gray;
  border-radius: 15px;
  margin-top: 10px;
  font-size: 20px;
  text-align: left;
  background-color: white;
}

.opt-btn:hover {
  background-color: #e6e6e6;
}

#mute {
  position: absolute;
  top: 30px;
  right: 50px;
  border-radius: 25px;
  padding: 5px;
  width: 100px;
  height: 50px;
  border: 1px solid #8585859f;
  background-color: white;
}

#countdown

#header {
  text-align: center;
  padding-bottom: 3%;
}

img {
  max-width: 400px;
}

.btn-main {
  width: 60%;
  padding: 3%;
  margin-top: 10px;
  font-size: 1em;
  border-radius: 20px;
  border: .5px solid #9999999f;
  color: #464646;
  background-color: white;
}


#countdown {
  font-size: 20px;
  display: grid;
  justify-content: right;
}

.btn-main:hover {
  background-color: #9999999f;
  color: white;
}


#next, #to-main {
  margin-top: 20px;
  width: 180px;
  border-radius: 15px;
  border: .5px solid #9999999f;
  padding: 2%;
  font-size: 17px;
  background-color: white;
}

#next:hover, #to-main:hover {
  background-color:#e6e6e6;
}

/* color theme to be mocha */
/* find pantones for shades of mocha */
